{{#each bokbulboks as |bokbulbok| }}

  <div class="col s12 m4">
    <div class="card-panel {{#if bokbulbok.used}}grey darken-2 {{else}}grey lighten-5{{/if}}" id="bokbulbok-card-{{bokbulbok.id}}">
      <div class="card-content">
        <p>{{bokbulbok.id}}: {{bokbulbok.description}}</p>
        <p>Used? {{bokbulbok.used}}</p>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab delete-bokbulbok red darken-4"><a id="delete-bokbulbok-{{bokbulbok.id}}">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>

{{/each}}
