{{#each locations as |location| }}

  <div class="col s12 m4">
    <div class="card hoverable blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{location.name}}</span>
        <p class="truncate">{{location.plot}}</p>
        <p>
          {{#if location.visited}}
          Players visited and {{location.outcome}}
          {{else}}
          Players haven't been here yet
          {{/if}}
        </p>
        <p>
          {{#if location.has_players}}
          <strong>Players are here</strong>
          {{/if}}
        </p>
      </div>
      <div class="card-action">
        <a class="get-details" id="location-{{location.id}}">
          Click here to see location details, update location, or delete
        </a>
      </div>
    </div>
  </div>

{{/each}}
