
<div class="row">
  <div class="col s12 m6" id="only-location-{{location.id}}">
    <h4>{{location.id}}: {{location.name}}</h4>
    <h5>Plot</h5>
    <p>{{location.plot}}</p>
    <h5>Outcomes</h5>
    <p>{{location.outcome}}</p>
    <h5>Player interaction</h5>
    <p>Have players visited? {{location.visited}}</p>
    <p>Are players here? {{location.has_players}}</p>
  </div>

  <div class="col s12 m6">
    <form class="col s12 container update-location-form" id="update-location-form-{{location.id}}">
      <h4>Update {{location.name}}</h4>
      <p class="update-location-alert"></p>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" class="validate" name="location[plot]">
          <label for="plot">New Plot</label>
        </div>
        <div class="input-field col s12">
          <input type="text" class="validate" name="location[outcome]">
          <label for="outcome">New Outcome</label>
        </div>
        <div class="input-field col s6">
          <input type="text" class="validate" name="location[visited]">
          <label for="visited">Did players come here?</label>
        </div>
        <div class="input-field col s6">
          <input type="text" class="validate" name="location[has_players]">
          <label for="has_players">Are players here?</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i></button>
    </form>
  </div>
</div>

<div class="row">
  <ul>
    <li><a id="delete-{{location.id}}" class="delete-location">Delete Location</a></li>
  </ul>
  <ul>
    <li><a id="get-profile">Go back to locations list</a></li>
  </ul>
  <ul>
    <li><a id="get-bokbulbok">Generate a risk or reward</a></li>
  </ul>
</div>
